# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* Create a single-column table in a Google Colab notebook
* Evaluate arithmetic expressions in Python
* Convert minutes to hours using Python

## Author
WONG HUNG CHING, Gabriel

# Some of the popular languages that Data Scientists use are:
*   Chinese
*   English
*   Spanish
*   Cantonese

# Some of the commonly used libraries used by Data Scientists include:


*   Pandas
*   NumPy
*   Matplotlib
*   Scikit-learn

<table>
  <tr><td>Data Science Tools</td></tr>
  <tr><td>Jupyter Notebook</td></tr>
  <tr><td>RStudio</td></tr>
  <tr><td>VS Code</td></tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python.
* `2 + 3` evaluates to **5**
* `5 - 2` evaluates to **3**
* `4 * 6` evaluates to **24**
* `8 / 2` evaluates to **4.0**

In [1]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3*4)+5
print(result)

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60.
hours = 200 / 60
print(hours)

3.3333333333333335